!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #{project.name}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='#{project.description}')
    meta(name='author', content='#{project.author}')
    link(href='/css/bootstrap-combined.no-icons.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/client.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')

  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a#info(href='#displayInfo', data-toggle='modal') info
        h2.muted #{project.name}
      hr
      .row-fluid.marketing
        .span6
          h1#question <i class="icon-spinner icon-spin"></i> Caricamento in corso...
        #answers.span6
          button#answer0.btn
            i.icon-spinner.icon-spin.icon-large
          button#answer1.btn
            i.icon-spinner.icon-spin.icon-large
          button#answer2.btn
            i.icon-spinner.icon-spin.icon-large
          button#answer3.btn
            i.icon-spinner.icon-spin.icon-large
      hr
      .footer
        p
          | #{project.description} &copy; #{project.author} 2013 &dash;&nbsp;
          a(href='#{project.license.href}') #{project.license.name}
          &nbsp;&dash;&nbsp;
          a(href='#{project.source}') source code

  #msgBox.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='msgBox', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#msgLabel myModalLabel
    .modal-body
      h4#msgText myModalText

  #displayInfo.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='Info', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3 #{project.name} 101
    .modal-body
      h4 Utente
      p#score Caricamento in corso...
      h4 Regole
      ol
        li Vince chi risponde correttamente nel minor tempo.
        li Risposta esatta: +3.
        li Risposta sbagliata: -1.
        li Primo concorrente prenotato: +2.
        li Ogni concorrente ha a disposizione 1 aiuto dal pubblico.
        li Il master ha sempre ragione.

  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src="/js/client.js")
