body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 900px;
}

.span6 {
    text-align: center;
}

#answers          .btn { padding: 50px 50px 50px 50px; margin:  20px 20px 20px 20px; font-size: 1.5em; }
#questionSelector .btn { padding: 20px 20px 20px 20px; margin:  10px 10px 10px 10px; font-size: 1.5em; }

#answers .btn:hover { background: yellow; }

#gpio .btn { padding: 20px 20px 20px 20px; margin:  10px 10px 10px 10px; font-size: 1.5em; }
#gpio .speak { font-weight: bold; }

#questionSelector { width: 90%; margin-left: -45%; max-height: 300px; }
#displayInfo      { width: 60%; margin-left: -30%; }
#scoreboard       { width: 60%; margin-left: -30%; }

#displayInfo .modal-body { max-height: 600px; overflow-y: auto; }
#scoreboard  .modal-body { max-height: 500px; overflow-y: auto; }

#scoreboard .modal-body table { width: 90%; margin: auto;}
#scoreboard .modal-body table tbody tr:hover { background-color: rgb(217, 237, 247); /* .info */ }

#chartAudience { height: 500px; width: 500px; margin: auto; }
